.han-blue{
    background: #fff!important;
}
.azure{
    color:#0C7CFE !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #0C7CFE !important;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #0C7CFE !important;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #0C7CFE !important;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #0C7CFE !important;
  }

  #topnav .app-search .form-control, #topnav .app-search .form-control:focus{
      border: 1px solid #0E6AC9;
  }
  .box-shadow{
    -webkit-box-shadow: 2px 6px 15px 0px rgba(191,191,191,0.33);
    -moz-box-shadow: 2px 6px 15px 0px rgba(191,191,191,0.33);
    box-shadow: 2px 6px 15px 0px rgba(191,191,191,0.33);
  }

  body{
      background:#fff;
      color: #0C7CFE;
  }

  .card-box{
      background-color: #fff;
      -webkit-box-shadow: 2px 6px 15px 0px rgba(191,191,191,0.33);
      -moz-box-shadow: 2px 6px 15px 0px rgba(191,191,191,0.33);
      box-shadow: 2px 6px 15px 0px rgba(191,191,191,0.33);
  }

  .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    color: #98a6ad;
  
}

.text-danger{
    color: #fe3959 !important;
}




    .footer {
        color: #0C7CFE ;
        background: #ffffff;
        
    }

    #topnav .topbar-main .nav > li > a {
        color: #0C7CFE  !important;
       
    }